@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  background-color: #1A1A1A !important;
  margin: 0 !important;
  padding: 0 !important;
}

